C:\Cardall\ASSISTENTES\configuracoesSW\Materiais\
C:\ProgramData\GPPC_DATA\
engenharia:cleber.marangoni
engenharia01:thalysson.santos
engenharia02:matheus.santos
engenharia03:julio.romagna
engenharia04:camila.vieira
engenharia05:amilcar.citadin
engenharia06:egidio.maciel
engenharia07:murilo.salvaro
engenharia08:leandro.albino
engenharia09:alexandrino.dalcent
engenharia10:notebook
engenharia11:engenharia11
engenharia12:cidelei.ferreira
engenharia13:bruna.kosmann
northprojects:leandro.albino
treeengenharia:josue.policarpi
2ksolucoes:bruna.kosmann
orcamento03:amilcar.citadin
orcamento02:beatriz.livramento
sspprojetos:sandro.pereira
vendas1:gustavo.barreto
